.classpath
/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
src/main/java/edu/unimagdalena/pw/controller/UsuarioAjaxController.java
src/main/java/edu/unimagdalena/pw/controller/UsuarioController.java
src/main/java/edu/unimagdalena/pw/dao/UsuarioDAO.java
src/main/java/edu/unimagdalena/pw/dao/UsuarioDAOHibernate.java
src/main/java/edu/unimagdalena/pw/model/Usuario.java
src/main/java/edu/unimagdalena/pw/services/IUsuarioService.java
src/main/java/edu/unimagdalena/pw/services/UsuarioService.java
src/main/webapp/WEB-INF/views/home.jsp
src/main/webapp/WEB-INF/views/index.jsp
src/main/webapp/WEB-INF/views/usuarioform.jsp
src/main/webapp/resources/css/estilos.css
src/main/webapp/resources/js/logica.js
target/classes/edu/unimagdalena/pw/controller/*.class
target/classes/edu/unimagdalena/pw/dao/*.class
target/classes/edu/unimagdalena/pw/exceptions/*.class
target/classes/edu/unimagdalena/pw/model/*.class
target/classes/edu/unimagdalena/pw/services/*.class

